PORT=3000

# Standar MSSQL
DB_HOST=localhost
DB_PORT=1434
DB_USER=sa
DB_PASSWORD="password"
DB_NAME="nest_typeorm_rbac"

CLIENT_URL="http://localhost:3001"

# Connection String untuk Drizzle
DATABASE_URL="sqlserver://sa:password@localhost:1433;database=nest_typeorm_rbac;encrypt=true;trustServerCertificate=true"

CLIENT_URL="http://localhost:3001"

JWT_ACCESS_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
JWT_REFRESH_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
JWT_ACCESS_EXPIRES_IN=1m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

CORS_ORIGINS=http://192.168.1.5:8100,http://localhost:8100,http://localhost:4200,capacitor://localhost,http://localhost
